<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>adminView</title>
	<link rel="stylesheet" href="styles.css" />
	<script src="main.js" defer></script>
</head>
<header>
	<ul class="nav-bar">
		<li class="logo-item">
			<a href="../../index.html"><img src="../../img/s_transparent.svg" alt="Logo" class="nav-icon" /></a>
		</li>
		<div class="nav-elements nolog">
			<li class="nav-link">
				<a href="../autenticador/index.html">Log in</a>
			</li>
			<li class="nav-link">
				<a href="../signUp/index.html">Sign up</a>
			</li>
		</div>
		<div class="nav-elements log">
			<li class="nav-link"><a href="../user/index.html">Favorites</a></li>
			<li class="nav-link"><a href="" class="logOut">Log out</a></li>
		</div>
		<div class="nav-elements admin">
			<li class="nav-link">
				<a href="../admin/adminView.html">Admin Page</a>
			</li>
			<li class="nav-link"><a href="../user/index.html">Favorites</a></li>
			<li class="nav-link"><a href="" class="logOut">Log out</a></li>
		</div>
		<li class="search-item">
			<input type="text" id="search" placeholder="Search" class="search-box" oninput="search()" />
		</li>
	</ul>
</header>

<body>
	
	<form id="artForm" style="display: none">
		<div>
			<label for="title">Title:</label>
			<input type="text" id="title" name="title" required />
		</div>

		<div>
			<label for="img">url de la imagen:</label>
			<input type="email" id="img" name="img" required />
		</div>
		<div>
			<label for="infoTxt">informacion del articulo:</label>
			<textarea id="infoTxt" name="infoTxt" rows="5" required></textarea>
		</div>

		<button id="send">Enviar</button>
	</form>
	<div class="articles">
		<button id="createArticle" class="createButtons">Crear Articulo</button>
		<h2>Artículos</h2>
		<table id="articulosTabla">
			<thead>
				<tr>
					<th>Título</th>
					<th>Descripción</th>
					<th>Calificación</th>
					<th>Creado por</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody id="articulosTable"></tbody>
		</table>
	</div>
	<div class="users">
		<button id="createUser" class="createButtons">Crear Usuario</button>
		<h2>Usuarios</h2>
		<form id="usrsForm" style="display: none">
			<div>
				<label for="name">Nombre:</label>
				<input type="text" id="name" name="name" required />
			</div>

			<div>
				<label for="surname">Apellido:</label>
				<input type="text" id="surname" name="surname" required />
			</div>
			<div>
				<label for="age">Edad:</label>
				<input type="number" id="age" name="age" required />
			</div>
			<div>
				<label for="mail">mail:</label>
				<input type="email" id="mail" name="mail" required />
			</div>

			<div>
				<label for="pwd">Contraseña:</label>
				<input type="password" id="pwd" name="pwd" required />
			</div>

			<div>
				<label for="rol">ROL:</label>
				<select name="rol" id="rol">
					<option value="USER">USER</option>
					<option value="ADMIN">ADMIN</option>
				</select>
			</div>

			<button id="sendUsr">Enviar</button>
		</form>

		<table id="usersTabla">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Rol</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody id="usuariosTable"></tbody>
		</table>
	</div>
	<div id="reviewsTable">
        <h2 style="text-align: center;">Reseñas</h2>
        
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Texto de la Reseña</th>
                    <th>Calificación</th>
                    <th>ID Usuario</th>
                    <th>ID Articulo</th>
                </tr>
            </thead>
            <tbody id="reviewsBody">
                </tr>
            </tbody>
        </table>
    </div>

    <form id="reviewForm" style="display: none">
        <div>
            <label for="title">Título de la Reseña:</label>
            <input type="text" id="tit" name="title" required />
        </div>

        <div>
            <label for="infoText">Texto de la Reseña:</label>
            <textarea id="infoText" name="infoText" required></textarea>
        </div>

        <div>
            <label for="rating">Calificación (de 1 a 5):</label>
            <input type="number" id="rating" name="rating" min="1" max="5" step="0.1" required />
        </div>

        <div>
            <label for="idArticle">ID del Articlulo:</label>
            <input type="number" id="idComment" name="idArticle" required />
        </div>

        <button type="submit" id="sendReview">Enviar Reseña</button>
    </form>

    <button id="createReview" class="createButtons">Crear Reseña</button>
	<footer>
		<div class="footer-container">
			<div class="footer-section">
				<h4>Sobre Nosotros</h4>
				<p>
					Somos una empresa dedicada al desarrollo de páginas web y soluciones
					tecnológicas.
				</p>
			</div>
			<div class="footer-section">
				<h4>Enlaces Útiles</h4>
				<ul>
					<li><a href="#home">Inicio</a></li>
					<li><a href="#about">Acerca</a></li>
					<li><a href="#services">Servicios</a></li>
					<li><a href="#contact">Contacto</a></li>
				</ul>
			</div>
			<div class="footer-section">
				<h4>Contáctanos</h4>
				<p>Email: contacto@empresa.com</p>
				<p>Teléfono: +34 123 456 789</p>
				<p>Dirección: Calle Falsa 123, Madrid</p>
			</div>
		</div>
		<div class="footer-bottom">
			<p>&copy; 2024 SOOT | Todos los derechos reservados.</p>
		</div>
	</footer>
</body>

</html>
